.container {
  text-align: center;
}

.welcome {
  display: block;
  width: 100%;
}

.logoutButton {
  background-color: var(--purple);
  color: #ffffff;
  padding: 0.5rem;
  border-radius: 1rem;
  border: none;
  width: 6rem;
  height: 2.5rem;
  cursor: pointer;
}
