.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2d05f7;
  padding: 0.5rem;
}

.title {
  color: #ffffff;
  font-size: 2rem;
}
